APScheduler==3.10.4
backports.zoneinfo==0.2.1
certifi==2024.2.2
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
dataclasses==0.8
docopt==0.6.2
Flask==2.0.3
idna==3.6
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
peewee==3.17.1
pipreqs==0.4.11
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
six==1.16.0
typing_extensions==4.1.1
tzdata==2024.1
tzlocal==4.2
urllib3==1.26.18
Werkzeug==2.0.3
xmltodict==0.13.0
yarg==0.1.9
zipp==3.6.0
